@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@media android {
  :root {
    --font-sans: normal;
    --font-mono: monospace;
    --font-rounded: normal;
  }
}

@media ios {
  :root {
    --font-sans: system-ui;
    --font-mono: ui-monospace;
    --font-rounded: ui-rounded;
  }
}

:root {
  --color-primary: #5E6BFF;
  --color-secondary: #7C5CFF;
  --color-accent: #30D5C8;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  
  --color-bg: #050505;
  --color-surface: #111111;
  --color-card: #171717;
  --color-border: #2A2A2A;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A0A0A0;
}

@layer theme {
  @theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);
    --color-success: var(--color-success);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
    --color-bg: var(--color-bg);
    --color-surface: var(--color-surface);
    --color-card: var(--color-card);
    --color-border: var(--color-border);
    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);
  }
}
